<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>首页-全世界路过</title>

	<link rel="icon" href="./img/favicon12.png" type="image/x-icon" />
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<script src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
	<link rel="stylesheet" href="css/proj1.css" />
	<link rel="stylesheet" href="./css/headnav.css">
	<script src="./js/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>

<body>
	<div id="app">
		<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
			<el-menu-item index="1" :default-active="activeIndex">
				<a href="">
					<img id="imgs" src="./img/favicon12.png" alt="">
					<b id="login">全世界路过</b>
				</a>
			</el-menu-item>
			<el-menu-item index="2" :default-active="activeIndex">
				<a href="index">首页</a>
			</el-menu-item>
			<el-menu-item index="3" :default-active="activeIndex">
				<a href="">目的地</a>
			</el-menu-item>
			<el-menu-item index="4" :default-active="activeIndex">
				<a href="">旅游攻略</a>
			</el-menu-item>
			<img id="imgs" src="./img/favicon12.png" alt="">
			<%if(username){%>
				<el-menu-item index="5" :default-active="activeIndex">
					<a href="mynotes">个人中心</a>
				</el-menu-item>
				<%}%>
					<el-menu-item id="right" index="6">
						<%if(username){%>
							<span>欢迎你，</span>
							<%}else{%>
								<a href="/index/login">
									注册|
								</a>
								<%}%>
									<%if(username){%>
										<%=username%>

											<%}else{%>
												<a href="/index/login">
													登录
												</a>
												<%}%>
					</el-menu-item>

		</el-menu>
	</div>



	<div class="big">
		<ul class="img">
			<%for(var i=0;i<4;i++){%>
				<li>
					<img src="<%=datalist[i].pic%>" style="width: 100%;height: 630px;" alt="">
				</li>
				<%}%>

		</ul>
		<ul class="button">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<div class="traver">
		<p>旅行家专栏</p>
		<ul class="imgs">
			<%for(var i=1;i<5;i++){%>
				<li>
					<img src="<%=datalist[i].pic%>" style="width: 240px;height:120px;" alt="">

				</li>
				<%}%>

		</ul>
	</div>
	<div class="write">
		<div class="title">
			<a>热门游记</a>
		</div>
		<ul class="write_a">
			<%for(var i=0;i<5;i++){%>
				<li class="write_b">
					<a href="">
						<img src="<%=datalist[i].pic%>" style="width: 220px;height:150px;" alt="">
					</a>
					<div class="write_c">

						<h3>
							<a class="nones">
								<%-datalist[i].title%>
							</a>
						</h3>


						<small class="contentss">
							<%-datalist[i].content%>
						</small>

					</div>
				</li>
				<%}%>
		</ul>
	</div>
	<div class="footer">
		<ul class="left">
			<li>旅游消费指南</li>
			<li>100,000,000 位旅行者</li>
			<li>920,000 家国际酒店</li>
			<li>21,000,000 条真实点评</li>
			<li>旅游行业第一部“玩法”</li>
		</ul>
		<ul class="center">
			<li>关于我们</li>
			<li>
				<a>隐私政策服务协议</a>
			</li>
			<li>
				<a>联系我们</a>
			</li>
			<li>
				<a>网站地图</a>
			</li>
			<li>
				<a>加入我们</a>
			</li>
		</ul>
		<ul class="right">
			<li>旅行服务</li>
			<li>
				<a>旅游攻略</a>
			</li>
			<li>
				<a>旅游问答</a>
			</li>
			<li>
				<a>旅游指南</a>
			</li>
			<li>
				<a>APP下载</a>
			</li>
		</ul>
		<ul class="bootom">
			<li>
				<a>好豆美食网</a>
			</li>
			<li>
				<a>绿野户外</a>
			</li>
			<li>
				<a>手机浏览器</a>
			</li>
			<li>
				<a>上海地图</a>
			</li>
			<li>
				<a>天气预报查询</a>
			</li>
			<li>
				<a>同程旅游</a>
			</li>
			<li>
				<a>车讯网</a>
			</li>
			<li>
				<a>遨游旅游网</a>
			</li>
			<li>
				<a>手机浏览器</a>
			</li>
			<li>
				<a>天巡网短租房</a>
			</li>
			<li>
				<a>更多友情链接>></a>
			</li>

		</ul>
	</div>
	<script>
		var vm = new Vue({
			el: "#app",
			data: {
				activeIndex: ""
			}
		});
		let imgs = $('.img li');
		let btn = $('.button li');

		btn.each(function (ind, el) {
			$(el).mouseover(function () {
				//链式操作
				imgs.hide().eq(ind).show();
				//先把所有的背景颜色改成白色
				btn.removeClass('btn_hover').eq(ind).addClass('btn_hover');
			});
		});
	</script>
</body>

</html>