<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>目的地</title>
		<link rel="stylesheet" href="css/proj2.css" />
	</head>
	<body>
		<div class="center">
			<div class="search">
				<ul>
					<li class="search-b">
						<input placeholder="我真的超想去..."/>
						<div class="search-a"></div>
					</li>
					<li>日本 云南 江苏 北京 济州岛 巴黎</li>
					
				</ul>
			</div>
		</div>
		<div class="place">
			<p style="text-align: center;font-size: 24px;margin-bottom: 20px;">热门目的地</p>
			<ul style="font-size: 20px;">
				<li>国内</li>
				<li>港澳台</li>
				<li>日本</li>
				<li>东南亚</li>
				<li>欧洲&nbsp;美洲</li>
			</ul>
			<div class="city">
				<ul>
					<li class="city1">直辖市</li>
					<li><a>北京</a></li>
					<li><a>上海</a></li>
					<li><a>重庆</a></li>
					<li><a>天津</a></li>
				</ul><br />
				<ul>
					<li class="city1">云南</li>
					<li><a>香格里拉</a></li>
					<li><a>丽江</a></li>
					<li><a>大理</a></li>
					<li><a>昆明</a></li>
				</ul><br />
				<ul>
					<li class="city1">四川</li>
					<li>成都</li>
					<li>绵阳</li>
					<li>达州</li>
					<li>德阳</li>
				</ul><br />
				<ul>
					<li class="city1">西北</li>
					<li>西安</li>
					<li>西宁</li>
					<li>兰州</li>
					<li>新疆</li>
				</ul><br />
				<ul>
					<li class="city1">浙江</li>
					<li>杭州</li>
					<li>乌镇</li>
					<li>东极岛</li>
					<li>西塘</li>
				</ul><br />
			</div>	
		</div>
		<div class="perticularly">
			<p style="text-align: center;font-size: 24px;margin-bottom: 20px;">全年适宜</p>
			<ul>
				<li style="background-image: url(assets/sy-1.jpeg);">美食</li>
				<li style="background-image: url(assets/sy-2.jpeg);">小众</li>
				<li style="background-image: url(assets/sy-3.jpeg);">登山</li>
				<li style="background-image: url(assets/sy-4.jpeg);">潜水</li>
				<li style="background-image: url(assets/sy-5.jpeg);">远离雾霾</li>
				<li style="background-image: url(assets/sy-6.jpeg);">购物</li>
				<li style="background-image: url(assets/sy-7.jpeg);">古镇</li>
				<li style="background-image: url(assets/sy-8.jpeg);">自然风景</li>
				<li></li>
			</ul>
		</div>
		<div class="footer">
			<ul class="left">
				<li>旅游消费指南</li>
				<li>100,000,000 位旅行者</li>
				<li>920,000 家国际酒店</li>
				<li>21,000,000 条真实点评</li>
				<li>旅游行业第一部“玩法”</li>
			</ul>
			<ul class="center1">
				<li>关于我们</li>
				<li><a>隐私政策服务协议</a></li>
				<li><a>联系我们</a></li>
				<li><a>网站地图</a></li>
				<li><a>加入我们</a></li>
			</ul>
			<ul class="right">
				<li>旅行服务</li>
				<li><a>旅游攻略</a></li>
				<li><a>旅游问答</a></li>
				<li><a>旅游指南</a></li>
				<li><a>APP下载</a></li>
			</ul>
			<ul class="bootom">
				<li><a>好豆美食网</a></li>
				<li><a>绿野户外</a></li>
				<li><a>手机浏览器</a></li>
				<li><a>上海地图</a></li>
				<li><a>天气预报查询</a></li>
				<li><a>同程旅游</a></li>
				<li><a>车讯网</a></li>
				<li><a>遨游旅游网</a></li>
				<li><a>手机浏览器</a></li>
				<li><a>天巡网短租房</a></li>
				<li><a>更多友情链接>></a></li>
			</ul>
		</div>
		
	</body>
</html>
