<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="icon" href="./img/favicon12.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/headnav.css">
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <title>写游记-全世界路过</title>

</head>

<body>
    <div id="app">
        <div class="header">
            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
                <el-menu-item index="1" :default-active="activeIndex">
                    <a href="">
                        <img id="imgs" src="./img/favicon12.png" alt="">
                        <b id="login">全世界路过</b>
                    </a>
                </el-menu-item>
                <el-menu-item index="2" :default-active="activeIndex">
                    <a href="index">首页</a>
                </el-menu-item>
                <el-menu-item index="3" :default-active="activeIndex">
                    <a href="mudidi">目的地</a>
                </el-menu-item>
                <el-menu-item index="4" :default-active="activeIndex">
                    <a href="">旅游攻略</a>
                </el-menu-item>
                <!-- <img id="imgs" src="./img/favicon12.png" alt=""> -->
                <%if(username){%>
                    <el-menu-item index="5" :default-active="activeIndex">
                        <a href="mynotes">个人中心</a>
                    </el-menu-item>
                    <%}%>
                        <el-menu-item id="right" index="6">
                            <%if(username){%>
                                <span>欢迎你，</span>
                                <%}else{%>
                                    <a href="/index/login">
                                        注册|
                                    </a>
                                    <%}%>
                                        <%if(username){%>
                                            <%=username%>

                                                <%}else{%>
                                                    <a href="/index/login">
                                                        登录
                                                    </a>
                                                    <%}%>
                        </el-menu-item>
            </el-menu>
        </div>
        <div class="widget-body form">
            <form class="cmxform form-horizontal" id="addnews" method="get" action="">

                <div class="control-group ">
                    <h3>设置游记头图</h3>
                    <div class="controls">
                        <input class="span6 " id="pic" name="pic" value="" hidden />
                        <span class="help-inline"></span>
                        <div id="picmenu"></div>
                        <div id="newspic"></div>
                        <img src="" id="mainpic" alt="">
                    </div>
                </div>


                <div class="control-group ">
                    <h3>游记标题</h3>
                    <div class="controls">
                        <el-input type="textarea" id="title" autosize placeholder="请输入标题" v-model="title" name="title">
                        </el-input>
                        <!-- <input class="span6 " v-model="title" id="title" name="title" type="text" required /> -->
                    </div>
                </div>

                <div class="control-group ">
                    <h3>游记的详细内容</h3>
                    <div class="controls">
                        <div id="div1" class="toolbar"></div>
                        <div id="mycontent">
                        </div>
                        <textarea class="span6 " id="content" rows="10" name="content" v-model="content" required="" style="display: none">
                        </textarea>
                        <span class="help-inline"></span>
                    </div>
                </div>
                <br>
                <div class="form-actions">
                    <el-button type="primary" round native-type="button" @click="btns">发表游记</el-button>

                </div>
            </form>
        </div>



    </div>
</body>
<script src="./js/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="../admin/wangeditor/release/wangEditor.min.js"></script>
<script src="./js/headnav.js"></script>

</html>