<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>旅游攻略-全世界路过</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
	<link rel="stylesheet" href="css/proj4.css" />
	<link rel="icon" href="./img/favicon12.png" type="image/x-icon" />
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

	<link rel="stylesheet" href="./css/headnav.css">
	<script src="./js/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="./js/strategy.js"></script>
</head>

<body>


	<div id="app">
		<el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal">
			<el-menu-item index="1" :default-active="activeIndex">
				<a href="">
					<img id="imgs" src="./img/favicon12.png" alt="">
					<b id="login">全世界路过</b>
				</a>
			</el-menu-item>
			<el-menu-item index="2" :default-active="activeIndex">
				<a href="index">首页</a>
			</el-menu-item>
			<el-menu-item index="3" :default-active="activeIndex">
				<a href="mudidi">目的地</a>
			</el-menu-item>
			<el-menu-item index="4" :default-active="activeIndex">
				<a href="strategy">旅游攻略</a>
			</el-menu-item>
			<img id="imgs" src="./img/favicon12.png" alt="">
			<%if(username){%>
				<el-menu-item index="5" :default-active="activeIndex">
					<a href="center">个人中心</a>
				</el-menu-item>
				<%}%>
					<el-menu-item id="right" index="6">
						<%if(username){%>
							<span>欢迎你，</span>
							<%}else{%>
								<a href="/index/login">
									注册|
								</a>
								<%}%>
									<%if(username){%>
										<%=username%>
											<a href="login" style="margin-left: 30px;color: red">
												<b>退出</b>
											</a>
											<%}else{%>
												<a href="/index/login">
													登录
												</a>
												<%}%>
					</el-menu-item>

		</el-menu>
		<div :class="{tops:isFixed}" v-show="isFixed">
			<b class="el-icon-caret-top" @click="top" title="返回顶部"></b>

		</div>
















		<div class="big">
			<ul class="img">
				<%for(var i=0;i<datalist.length;i++){%>
					<li>
						<img src="<%=datalist[i].pic%>" alt="" />
					</li>
					<%}%>

			</ul>
			<ul class="button">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
		<div class="contentalls">
			<ul class="point">
				<li class="point_a">旅游攻略导航</li>
				<li class="point_b">推荐攻略</li>
			</ul>
			<div class="people">
				<div class="peop">
					<ul class="people_a">人气排行榜</ul>
					<li>
						<span>成都</span>
					</li>
					<li>
						<span>九寨沟</span>
					</li>
					<li>
						<span>重庆</span>
					</li>
					<li>
						<span>敦煌</span>
					</li>
					<li>
						<span>大理</span>
					</li>
				</div>
				<div class="contersa">
					<ul class="personal">
						<li v-for="(lists,index) in data">
							<div class="type">
								<div class="type-a"></div>
								<span>来自
									<strong>自由行攻略</strong>
								</span>
								<div class="type-b">{{lists.ding}} 蜂蜂顶
									<div></div>
								</div>
							</div>
							<div class="dg">
								<h3 class="biti">
									<a :href="('details?sid='+lists.sid)">{{lists.title}}</a>
								</h3>
							</div>
							<div class="titles contentss">
								<small class="contentss" v-html="lists.content">

								</small>

							</div>
							<div class="imgss">
								<img class="imngs" :src="lists.pic" />
								<img class="imngs" :src="lists.pic" />
								<img class="imngs" :src="lists.pic" />
							</div>
						</li>
					</ul>

				</div>

				<div class="pagess">
					<el-pagination background @current-change="pages" layout="prev,pager,next" :total="totalpage*10">
					</el-pagination>
				</div>
			</div>

		</div>
		<div class="footer">
			<ul class="left">
				<li>旅游消费指南</li>
				<li>100,000,000 位旅行者</li>
				<li>920,000 家国际酒店</li>
				<li>21,000,000 条真实点评</li>
				<li>旅游行业第一部“玩法”</li>
			</ul>
			<ul class="center">
				<li>关于我们</li>
				<li>
					<a>隐私政策服务协议</a>
				</li>
				<li>
					<a>联系我们</a>
				</li>
				<li>
					<a>网站地图</a>
				</li>
				<li>
					<a>加入我们</a>
				</li>
			</ul>
			<ul class="right">
				<li>旅行服务</li>
				<li>
					<a>旅游攻略</a>
				</li>
				<li>
					<a>旅游问答</a>
				</li>
				<li>
					<a>旅游指南</a>
				</li>
				<li>
					<a>APP下载</a>
				</li>
			</ul>
			<ul class="bootom">
				<li>
					<a>好豆美食网</a>
				</li>
				<li>
					<a>绿野户外</a>
				</li>
				<li>
					<a>手机浏览器</a>
				</li>
				<li>
					<a>上海地图</a>
				</li>
				<li>
					<a>天气预报查询</a>
				</li>
				<li>
					<a>同程旅游</a>
				</li>
				<li>
					<a>车讯网</a>
				</li>
				<li>
					<a>遨游旅游网</a>
				</li>
				<li>
					<a>手机浏览器</a>
				</li>
				<li>
					<a>天巡网短租房</a>
				</li>
				<li>
					<a>更多友情链接>></a>
				</li>

			</ul>
		</div>



	</div>
</body>

</html>