<%include head.html%>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">主题颜色:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                    </div>

                    <h3 class="page-title">
                        待审核列表
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">首页</a>
                            <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">审核菜单</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            待审核列表
                        </li>
                    </ul>
                </div>
            </div>
            <div id="page-wraper">
                <div class="row-fluid">
                    <div class="span12">

                        <div class="widget orange">
                            <div class="widget-title">
                                <h4>
                                    <i class="icon-reorder"></i> 待审核列表</h4>
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th>
                                                <i class="icon-bullhorn"></i> SID</th>
                                            <th class="hidden-phone">
                                                <i class="icon-question-sign"></i>标题</th>
                                            <th class="hidden-phone">
                                                <i class="icon-question-sign"></i>用户名</th>
                                            <th>

                                                <i class="icon-bookmark"></i> 管理员</th>
                                            <th>
                                                <i class=" icon-edit"></i> 用户提交时间</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%for(list of lists){%>
                                            <tr>
                                                <td>
                                                    <a href="#">
                                                        <%=list.sid%>
                                                    </a>
                                                </td>
                                                <td class="hidden-phone">
                                                    <%=list.title%>
                                                </td>
                                                <td class="hidden-phone">
                                                    <%=list.usernames%>
                                                </td>

                                                <td>
                                                    <%=list.username%>
                                                </td>
                                                <td>
                                                    <span class="label label-important label-mini">
                                                        <%=list.addtimes.toLocaleString()%>
                                                    </span>
                                                </td>
                                                <td>

                                                    <a href="newsadd?sid=<%=list.sid%>">
                                                        <button class="btn btn-primary">
                                                            <i class="icon-pencil"></i>
                                                        </button>
                                                    </a>
                                                    <button class="btn btn-danger newsdell" sid="<%=list.sid%>">
                                                        <i class="icon-trash "></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <%}%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>
    <%include foot.html%>