<%include head.html%>
    <div id="main-content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="theme-change" class="hidden-phone">
                        <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text"> 主题:</span>
                                <span class="colors">
                                    <span class="color-default" data-style="default"></span>
                                    <span class="color-green" data-style="green"></span>
                                    <span class="color-gray" data-style="gray"></span>
                                    <span class="color-purple" data-style="purple"></span>
                                    <span class="color-red" data-style="red"></span>
                                </span>
                            </span>
                    </div>
                    <h3 class="page-title">
                        用户管理菜单
                    </h3>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">首页</a>
                            <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="#">用户管理菜单</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            权限设置
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div class="widget red">
                        <div class="widget-title">
                            <h4>
                                <i class=" icon-key"></i>权限设置</h4>
                        </div>
                        <div class="widget-body form">
                            <form class="form-horizontal" id="replaceform">
                                <input type="hidden" name="uid" id="uid" value="<%=lists.uid%>">
                                <div class="control-group ">
                                    <label class="control-label" for="inp">用户 </label>
                                    <div class="controls">
                                        <input type="text" class="span6 " value="<%=lists.username%>" name="inp" id="inp" />
                                        <span class="help-inline "></span>
                                    </div>
                                    <br>
                                    <label class="control-label" for="status">权限</label>
                                    <div class="controls">
                                        <input type="text" class="span6 " name="status" id="status" value="<%=lists.status%>" />
                                        <span class="help-inline "></span>
                                        <br>
                                        <span class="help-inline">1表示正常权限，0表示封号</span>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <button type="button" class="btn btn-success replace">保存</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    </div>
    <%include foot.html%>