#imgs {
    width: 50px;
    height: 50px;
}

body {
    height: auto;
    width: auto;
    /* background: url(../img/page_bg.jpg); */
    background-size: cover;
}

a {
    text-decoration: none
}

a:hover {
    color: #ff9d00;
}

.el-menu--horizontal>.el-menu-item {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 10px;
    border-bottom: 2px solid transparent;
    color: #162136;
    font-size: 16px;
}

#login {
    font-size: 26px;
    color: #292529;
    font-family: Arial;
}

#right {
    float: right;
    margin-right: 100px
}

.toolbar {
    border: 1px solid #ccc;
    border-bottom: 0;
}

#mycontent {
    border: 1px solid #ccc;
    height: 200px;
    max-height: 800px;
    background-color: #fff;
}

#newspic {
    height: 0;
    position: relative;
    z-index: 10002 !important;
}

.w-e-panel-container {
    background-color: #fff;
    position: relative;
}

#mainpic {
    width: 100%;
    height: 680px;
}

.el-message-box__wrapper {
    position: relative;
    z-index: 100001 !important;
    top: -440px
}

.v-modal {
    z-index: 100000 !important;
}

.tops {
    background-color: #fff;
    position: fixed;
    right: 100px;
    bottom: 150px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
    z-index: 5;
}

.tops b {
    color: #409eff;
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}

.guang {
    background-color: rgb(124, 41, 41);
    position: fixed;
    left: 30px;
    bottom: 300px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, .12);
    z-index: 5;
    color: #fff;
    word-wrap: break-word;
}